body {
	text-align: center;
}

#bg {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
}

#whole-page {
    width: 1350px;
    height: 450px;
    /*background-color: green;*/
    text-align: center;
    margin: auto;
}

#whole-pic {
	position:relative;
	/*left: 499px;
	top: 80px;*/
    width: 364px;
    height: 364px;
    background-color: gray;
    margin: auto;
    z-index: 0;
    /*background-color: red;*/
}

#pre {
	position: relative;
	left: 493px;
	top: -365px;
	width: 360px;
	height: 360px;
	background: url("panda.jpg");
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	z-index:-1;
	/*background-color: red;*/
}

button {
  /*  position: absolute;
    top: 480px;
    left: 46%;*/
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 10px 15px 10px 15px;
    transform: all 1s;
    box-shadow: 5px 5px 10px #888888;
}

button:hover {
    transform: scale(1.05);
}
/*
.line {
    width: 100%;
    height: 90px;
    float: top;
    background-color: green;
}
*/
.square {
    width: 88px;
    height: 88px;
    float: left;
    border-width: 1px;
    border-color: gray;
    border-style: solid;   
    /*transform: all 0.1s;*/
}

div.square:hover {
    transform: scale(1.08);
}

